<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PersonalFinanceApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="MyDatabase" connectionString="Data Source=.\PFA.db;Password=khoiloikien2005" providerName="System.Data.SQLite"/>
	</connectionStrings>
 <userSettings>
  <PersonalFinanceApp.Properties.Settings>
   <setting name="IsLightTheme" serializeAs="String">
    <value>False</value>
   </setting>
  </PersonalFinanceApp.Properties.Settings>
 </userSettings>
</configuration>